body {
  font-family: 'Inconsolata', monospace;
  background-color: black;
  color: white;
  text-align: center;
}
a {
 color: white;
  text-decoration: none;
}
a:hover {
  color: #c0c0c0;
}
.poemlist {
  list-style-type: lower-roman;
  margin: 0;
  padding: 0;
}
.poemlist li {
  margin: 0;
  padding: 0;
}
