body {
  font-family: 'Inconsolata', monospace;
  background-color: black;
  color: white;
  text-align: center;
}
a {
 color: white;
  text-decoration: none;
}
a:hover {
  color: #c0c0c0;
}
.poemlist {
    list-style-type: decimal-leading-zero;
    display: inline-block;
}
footer {
  color: #a9a9a9;
}
footer a {
  color: #a9a9a9;
}
